body {
    background-color: linen;
}
button {
    margin-top:125px;
    height:100px;
    background-color: lightcoral;
    border-radius: 10px;
    width: 100px;
}
.button1 {
    float:left;
}
.button2 {
    float:right;
}
img {
    float:center;
    margin-right:10px;
    margin-left:10px;
    border-radius: 30px;
}
div.sticky {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
  }